.logo{
    height: 65px;
}

.navbarCustom{
    background-color: rgb(255, 0, 0);
}

.nav-linkCustom{
    color: white;
}

.btnCustom{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    font-weight: 600;
    width: 150px;
}

.navbar-toggler:focus {
outline: none; /* Elimina el borde predeterminado */
box-shadow: 0 0 0 1px white; /* Agrega un borde blanco */
}

